<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/westeros.js"></script>

    
</head>
<body>
        <style>
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 12px 16px;
            transition: 0.3s;
        }

        .tab button:hover {
            background-color: #ddd;
        }

        .tab button.active {
            background-color: #ccc;
        }

        .chart-container {
            display: none;
            padding: 6px 12px;
            border-top: none;
        }
    </style>
    <div class="tab">
            <button class="tablinks" onclick="showChart(event, 'c5412ec8abd543fcb04a9cdcff747884')">2015年后二十排名</button>
            <button class="tablinks" onclick="showChart(event, '6226f2027d514a9f9123e2f39f8c8a76')">2016年后二十排名</button>
            <button class="tablinks" onclick="showChart(event, '988c917083e94543a66c140e0863408d')">2017年后二十排名</button>
    </div>

    <div class="box">
                <div id="c5412ec8abd543fcb04a9cdcff747884" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_c5412ec8abd543fcb04a9cdcff747884 = echarts.init(
            document.getElementById('c5412ec8abd543fcb04a9cdcff747884'), 'westeros', {renderer: 'canvas'});
        var option_c5412ec8abd543fcb04a9cdcff747884 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "2015\u5e74\u6392\u540d",
            "data": [
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2015\u5e74\u6392\u540d"
            ],
            "selected": {
                "2015\u5e74\u6392\u540d": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Angola",
                "Mali",
                "Congo (Brazzaville)",
                "Uganda",
                "Senegal",
                "Gabon",
                "Niger",
                "Cambodia",
                "Tanzania",
                "Madagascar",
                "Chad",
                "Guinea",
                "Ivory Coast",
                "Burkina Faso",
                "Afghanistan",
                "Rwanda",
                "Benin",
                "Syria",
                "Burundi",
                "Togo"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "2015\u5e74\u4e16\u754c\u5e78\u798f\u6307\u6570\u5728\u540e\u4e8c\u5341\u7684\u56fd\u5bb6",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_c5412ec8abd543fcb04a9cdcff747884.setOption(option_c5412ec8abd543fcb04a9cdcff747884);
    </script>
                <div id="6226f2027d514a9f9123e2f39f8c8a76" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_6226f2027d514a9f9123e2f39f8c8a76 = echarts.init(
            document.getElementById('6226f2027d514a9f9123e2f39f8c8a76'), 'westeros', {renderer: 'canvas'});
        var option_6226f2027d514a9f9123e2f39f8c8a76 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "2016\u5e74\u6392\u540d",
            "data": [
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2016\u5e74\u6392\u540d"
            ],
            "selected": {
                "2016\u5e74\u6392\u540d": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Angola",
                "Mali",
                "Congo (Brazzaville)",
                "Uganda",
                "Senegal",
                "Gabon",
                "Niger",
                "Cambodia",
                "Tanzania",
                "Madagascar",
                "Chad",
                "Guinea",
                "Ivory Coast",
                "Burkina Faso",
                "Afghanistan",
                "Rwanda",
                "Benin",
                "Syria",
                "Burundi",
                "Togo"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "2016\u5e74\u4e16\u754c\u5e78\u798f\u6307\u6570\u5728\u540e\u4e8c\u5341\u7684\u56fd\u5bb6",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_6226f2027d514a9f9123e2f39f8c8a76.setOption(option_6226f2027d514a9f9123e2f39f8c8a76);
    </script>
                <div id="988c917083e94543a66c140e0863408d" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_988c917083e94543a66c140e0863408d = echarts.init(
            document.getElementById('988c917083e94543a66c140e0863408d'), 'westeros', {renderer: 'canvas'});
        var option_988c917083e94543a66c140e0863408d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "2017\u5e74\u6392\u540d",
            "data": [
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2017\u5e74\u6392\u540d"
            ],
            "selected": {
                "2017\u5e74\u6392\u540d": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Angola",
                "Mali",
                "Congo (Brazzaville)",
                "Uganda",
                "Senegal",
                "Gabon",
                "Niger",
                "Cambodia",
                "Tanzania",
                "Madagascar",
                "Chad",
                "Guinea",
                "Ivory Coast",
                "Burkina Faso",
                "Afghanistan",
                "Rwanda",
                "Benin",
                "Syria",
                "Burundi",
                "Togo"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "2017\u5e74\u4e16\u754c\u5e78\u798f\u6307\u6570\u5728\u540e\u4e8c\u5341\u7684\u56fd\u5bb6",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_988c917083e94543a66c140e0863408d.setOption(option_988c917083e94543a66c140e0863408d);
    </script>
    </div>

    <script>
    </script>
    <script>
        (function() {
            containers = document.getElementsByClassName("chart-container");
            if(containers.length > 0) {
                containers[0].style.display = "block";
            }
        })()

        function showChart(evt, chartID) {
            let containers = document.getElementsByClassName("chart-container");
            for (let i = 0; i < containers.length; i++) {
                containers[i].style.display = "none";
            }

            let tablinks = document.getElementsByClassName("tablinks");
            for (let i = 0; i < tablinks.length; i++) {
                tablinks[i].className = "tablinks";
            }

            document.getElementById(chartID).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
</body>
</html>
